<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6 text-center">
            <h2>Directives, Service and Pipes</h2> <br>
            <button class="btn btn-primary" (click)="toggleList()">{{showList ? "Hide Student" : "Show
                Student"}}</button>
            <br> <br>
            // structural directive
            <table *ngIf="showList" class="table table-striped table-brodered table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                    </tr>

                </thead>
                <tbody *ngFor="let students of currentStudent">
                    // string interpolation and pipes
                    <tr>
                        <td>{{students.id}}</td>
                        <td>{{students.firstName | uppercase}}</td>
                        <td>{{students.lastName | lowercase}}</td>
                        <td>{{students.email}}</td>
                    </tr>

                </tbody>

            </table>
            <!-- Style Binding -->
            <h2 class="text-uppercase">Style Binding</h2>
            <ul class="list-group mt-3">
                <li class="list-group-item">
                    <h5 [style.color]="haserror ? 'red' : 'green'">Applying a style base on certain condition</h5>
                </li>
                <li class="list-group-item">
                    <h5 [style.color]="highlightColor">Applying style base on a value in the ts file</h5>
                </li>
                <li class="list-group-item">
                    <h5 [ngStyle]="titleStyle">Applying multiple style using ngStyle</h5>
                </li>
            </ul> <br>
            <!-- Class Binding -->
            <h2 class="text-uppercase">Class Binding</h2>
            <ul class="list-group mt-3">
                <li class="list-group-item">
                    <h5 class="text-success">Appling normal css style</h5>
                </li>
                <li class="list-group-item">
                    <h5 [class]="successClass">Using property binding</h5>
                </li>
                <li class="list-group-item">
                    <h5 class="text-special" [class]="successClass">Applying both normal css and property binding</h5>
                </li>
                <li class="list-group-item">
                    <h5 [class.text-danger]="haserror">Applying css based on certain condition</h5>
                </li>
                <li class="list-group-item">
                    <h5 [ngClass]="messageClasses">Applying multiple css class using ngClass</h5>
                </li>
            </ul> <br>
            <h3 class="text-uppercase">Using Custome Pipes</h3>
            <p class="text-uppercase text-primary">Price in USD: {{ 1500 | currencyConverter:'$':4:'en-US' }}</p>
            <p class="text-uppercase text-danger">Price in Leones: {{ 1500 | currencyConverter:'Le':4:'en-SL' }}</p>


        </div>
    </div>
</div>